.Rproj.user
.Rhistory
.RData
.Ruserdata
Data_10min.Rda
Data_10min.csv
Env_Data.Rda
Env_Data.csv
GMS_1.5h.Rda
GMS_1.5h.csv
GMS_6h.Rda
GMS_6h.csv
MLP.pdf
MLP.png
Met_conditions.html
Met_conditions.pdf
NN_obsvspred.pdf
NN_obsvspred.png
Neural Netork.png
Neuralnet.pdf
Presentation_ML.html
Rplots.pdf
Six_Days.Rda
Six_Days.csv
Target_test_R2.Rda
Target_train_R2.Rda
Test_data_R2.Rda
Test_data_R2_BIG.Rda
Test_set_R2.Rda
Train_data_R2.Rda
Train_data_R2_BIG.Rda
Train_set_R2.Rda
filename.pdf
plot_w_rotated_axis_labels.png
